default_language_version :
  python : python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: mixed-line-ending
        args:
          - --fix=no
      - id: no-commit-to-branch
        args:
          - --branch=master
      - id: check-added-large-files
        args:
          - --maxkb=2048
      - id: trailing-whitespace
        exclude: docs/source/api/generated
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id : isort
        args : ["--profile", "black", "--filter-files"]
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==25.9.0]
